<h1>Listing Ratings</h1>

Number of ratings: <%= @ratings.count %>

<ul>
	<% @ratings.each do |rating| %>
	<li><%= rating %> <%= link_to User.find(rating.user_id).username, User.find(rating.user_id) %></li>
	<% end %>
</ul>

<% if current_user %>
	<%= link_to 'New rating', new_rating_path %>
<% end %>