<h2>Create new rating</h2>

<%= form_for(@rating) do |f| %>
	<% select_array = @beers.map { |beer| [beer, beer.id] } %>
	<%= f.select :beer_id, options_for_select(select_array) %>
  	score: <%= f.number_field :score %>
  	
  	<%= f.submit %>
<% end %>
